# PostgreSQL 核心配置
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=papers_records

# MinIO 核心配置 (账号至少3位，密码至少8位)
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=


# Gemini API Configuration
RELAY_BASE_URL=https://x666.me/v1beta/models/{model}:streamGenerateContent?alt=sse
RELAY_API_KEY=
GEMINI_MODEL=gemini-3-flash-preview
